<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Initial Bootstrap Template" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Bootstrap -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1></h1>
    <div class="container">
      <div class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                  </ul>
                </div>
              </div>
      <form class="form-signin" role="form">
        <input type="number" class="form-control" placeholder="Shift" required="" autofocus="">
        <br>
        <input type="text" class="form-control" placeholder="Location" required="">
        <br>
        <input type="number" class="form-control" placeholder="Job" required="">
        <br>
        <input type="text" class="form-control" placeholder="Flavor" required="">
        <br>
        <div class="col-lg-6">
          <div class="bs-component">
            <label>Size</label>
            <a href="#" class="btn btn-default">7</a>
            <a href="#" class="btn btn-default">15.2</a>
            <a href="#" class="btn btn-default">64</a>
            <a href="#" class="btn btn-default">?</a>
          </div>
        </div>
        <br>
        <input type="number" class="form-control" placeholder="Qty" required="">
        <br>
        <input type="text" class="form-control" placeholder="Defect Type" required="">
        <br>
        <input type="text" class="form-control" placeholder="Cavity" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
  </body>
</html>